# Analyzing Mortgage & Loan Data

We'll start by importing relevant _libraries_ (i.e. prebuilt chunks of Python that have useful functions).

In [1]:
import pandas as pd    #data manipulation
import numpy as np     #mathematical operations

import matplotlib.pyplot as plt      #plotting tools

## Exploratory Data Analysis


We'll be importing data from the [Freddie Mac Database](http://www.freddiemac.com/research/datasets/sf_loanlevel_dataset.page) as a pandas dataframe.  We will need

In [7]:
# download_url = "https://raw.githubusercontent.com/annahaensch/DataAndSocialJustice/main/Data/Freddie_Mac/historical_data_2019Q1.txt"

url = "historical_data_2019Q1.txt"

file = open(url, 'r')
lines = file.readlines()

In [8]:
# Initialize empty dataframe
df = pd.DataFrame(columns = [i for i in range(31)])

# Add rows line by line
for line in lines[:1000:]: # Take only first 1000 lines to avoid overflow error. 
    new_df_row = [s.strip("\n") for s in line.split("|")]
    df.loc[len(df)] = new_df_row
    
df.head()

    0       1  2       3      4    5  6   ...               24 25 26 27 28 29 30
0  758  201905  9  203904  43580  000  1  ...  Other servicers        9     2  N
1  768  201905  N  204904  22020  000  1  ...  Other servicers        9     2  N
2  798  201903  Y  204902  31084  000  1  ...  Other servicers        9     2  N
3  789  201904  9  202903  45780  000  1  ...     PNC BANK, NA        9     2  N
4  782  201903  N  204902  24260  000  1  ...  Other servicers        9     2  N

[5 rows x 31 columns]

We can get a mapping of the column meaning in this [File Layout](http://www.freddiemac.com/fmac-resources/research/pdf/file_.layout.xlsx)

In [9]:
df.describe()

          0       1     2       3     4   ...    26    27    28    29    30
count   1000    1000  1000    1000  1000  ...  1000  1000  1000  1000  1000
unique   195       8     3      19   152  ...     2     2     2     3     1
top      780  201903     9  204902        ...           9           2     N
freq      15     801   493     617   415  ...   999   947   999   971  1000

[4 rows x 31 columns]